.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

/* FIX: Stack vertically and remove padding to maximize space */
@media (max-width: 900px) {
  .app {
    flex-direction: column;
    padding: 0;
  }
}