.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
    padding: 0;
    height: 100dvh; /* FIX: Handles mobile address bars better */
  }
}