.city {
  padding: 2rem 3rem;
  max-height: 70%;
  background-color: var(--color-dark--2);
  border-radius: 7px;
  overflow: auto;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.city h6 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--color-light--1);
}

.city h3 {
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.city h3 span {
  font-size: 3.2rem;
  line-height: 1;
}

.city p {
  font-size: 1.6rem;
}

.city a:link,
.city a:visited {
  font-size: 1.6rem;
  color: var(--color-brand--1);
}

.emoji {
  width: 30px;
  height: auto;
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: transform 0.2s ease; /* Smooth hover effect */
}

.emoji:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}
