.cityList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.cityList::-webkit-scrollbar {
  width: 0;
}

/* FIX: Use max-height so the list shrinks if there are few items */
@media (max-width: 900px) {
  .cityList {
    height: auto;
    max-height: 35vh; 
  }
}