.countryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;

  font-size: 1.7rem;
  font-weight: 600;

  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--1);
}

.countryItem span:first-child {
  font-size: 3rem;
  line-height: 1;
}

.emoji {
  width: 30px;
  height: auto;
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: transform 0.2s ease; /* Smooth hover effect */
}

.emoji:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}
