.sidebar {
  flex-basis: 56rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.8rem);
}

.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto; /* Allow height to shrink */
    flex: 0 0 auto; /* Don't grow, just fit content */
    padding: 1rem 2rem;
    align-items: flex-start; /* Logo left aligned */
  }

  .footer {
    display: none;
  }
}